<html>
    <head>
        <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.js"></script>
        <script src="./ng-firebase.js"></script>
    </head>
<body>
    <div ng-app="ng-firebase" ng-controller="firebaseCtrl">
<!--         <h1> {{ user }} </h1>
        <button ng-controller="incrCtrl" ng-click="count.number = count.number + 1">Increment!</button>
        <button ng-controller="decrCtrl" ng-click="decrement()">Decrement!</button> -->
    </div>
</body>
</html>
